.login-text {
  // align-items: center;
  margin: 100px 0 20px 0;
  text-align: center;
  h2 {
    font-size: 26px;
    font-weight: 600;
    color: #3b3c3b;
  }
}
form.login-form {
  //   background: #000;
  position: relative;
  text-align: center;
  min-height: 100px;
  font-weight: 300;
  .mat-form-field {
    //    padding-bottom: 1.34375em;
    width: 300px !important;
    margin: 0 0 0px 0;
  }
  .checkbox-container {
    width: 300px !important;
    height: 25px !important;
    font-size: 12px;
    display: flex;
    margin-top: -12px;
    mat-checkbox {
      float: left;
      margin-top: -5px;
    }
    span {
      a {
        text-decoration: none;
        color: #23a39b;
      }
      color: #23a39b;
      margin: 0 0 0 60px;
      cursor: pointer;
    }
  }
  .login-btn {
    width: 300px !important;
    margin: 50px 0 100px 0;
    height: 40px;
    background: #23a39b;
    color: #ffffff;
  }
}
div.mat-form-field-flex {
  height: 10px !important;
}
.mat-form-field-appearance-outline:not(.mat-form-field-disabled)
  .mat-form-field-flex:hover
  .mat-form-field-outline-thick {
  opacity: 0.5;
  border-color: solid #23a39b 1px;
}

.mat-checkbox-inner-container,
.mat-checkbox-background,
.mat-checkbox-frame {
  background-color: #23a39b;
}
.input:-internal-autofill-selected {
  background-color: none !important;
}

// ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.8em 0px !important;}
// ::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

// ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
//     transform: translateY(-1.1em) scale(.75);
//     width: 133.33333%;
// }
.login-wrapper {
  position: relative;
  .logo {
    position: relative;
  }
  .bg {
    display: grid;
    grid-template-columns: 40fr 60fr;
    .one {
      background: #1e1936;
      flex: 1;
      height: 100vh;
      position: relative;
      .logo {
        position: relative;
        top: 10%;
        right: 30%;
        .logo-img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
        }
      }
      img {
        position: relative;
        height: 15rem;
        width: 20rem;
        left: 40%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      .flag-signup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .two {
      height: 100vh;
      flex: 1;
      background: #fff;
    }
  }
  .login {
    position: absolute;
    height: 80vh;
    width: 50vw;
    top: 50%;
    transform: translateY(-50%);
    left: 35%;
    z-index: 1;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 #00000029;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
