.login-text {
    // align-items: center;
    margin: 0 0 30px 0;
    text-align: center;
    h2 {
      font-size: 24px;
      font-weight: 600;
      color: #3B3C3B;
      }
  }
  form.login-form {
    margin: 50px 0 0 0;
    //   background: #000;
    position: relative;
    text-align: center;
    min-height: 100px;
    font-weight: 300;
    .mat-form-field {
      //    padding-bottom: 1.34375em;
      width: 300px !important;
      margin: 0 0 0px 0;
    }
    .back-to-login-text {
      width: 300px !important;
      p {
        a {
          text-decoration: none;
          color: #23A39B;
        }
        font-size: 11px !important;
        color: #23A39B;
        margin: 10px 10px 0px 10px;
        cursor: pointer;
      }
    }
    .login-btn {
      width: 160px !important;
      margin: 10px 0;
      height: 40px;
      font-size: 13px;
      font-weight: 300;
      background: #23a39b;
      color: #FFFFFF;
    }
  }
  .mat-form-field-appearance-outline:not(.mat-form-field-disabled)
  .mat-form-field-flex:hover
  .mat-form-field-outline-thick {
  opacity: .5;
  border-color: solid #23a39b 1px;
  }
  
  .mat-checkbox-inner-container, .mat-checkbox-background, .mat-checkbox-frame {
    background-color: #23A39B;
  }


mat-label {
  font-size: 13px;
}


.login-wrapper {
  position: relative;
  .logo {
    position: relative;
  }
  .bg {
    display: grid;
    grid-template-columns: 40fr 60fr;
    .one {
      background: #1e1936;
      flex: 1;
      height: 100vh;
      position: relative;
      .logo {
        position: relative;
        top: 10%;
        right: 30%;
        .logo-img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }
      }
      img {
        position: relative;
        height: 15rem;
        width: 20rem;
        left: 40%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      .flag-signup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
    .two {
      height: 100vh;
      flex: 1;
      background: #fff;
    }
  }
  .login {
    position: absolute;
    height: 80vh;
    width: 50vw;
    top: 50%;
    transform: translateY(-50%);
    left: 35%;
    z-index: 1;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 #00000029;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
