<div class="login-wrapper">
    <!-- <div class="logo">
        <img src="../../assets/Group 7.svg" alt="">
    </div> -->
    <div class="bg">
        <div class="one">
            <div class="logo">
                <img class="logo-img" src="../../assets/logo-updated.svg" alt="logo">
                <div></div>
            </div>
            <img class="flag-signup" src="../../assets/flame-sign-up.png" alt="sign up">
        </div>
        <div class="two"></div>
    </div>
    <div class="login">
        <router-outlet></router-outlet>
    </div>
</div>
