<div class="tabs">

  <div class="card-skeleton" *ngIf="!data"
    style="height: 40px; margin-top: 2em !important; width: 100%; position: relative; left:-0.1%; top: 50% !important;">
    <div class="animated-background">
      <div class="skel-mask-container">
        <div class="skel-mask skel-mask-1"></div>
      </div>
    </div>
  </div>
  <div class="card-skeleton" *ngIf="!data"
    style="height: 40px; margin-top: 2.5em !important; width: 100%; position: relative; left:-0.1%; top: 50% !important;">
    <div class="animated-background">
      <div class="skel-mask-container">
        <div class="skel-mask skel-mask-1"></div>
      </div>
    </div>
  </div>
  <div class="card-skeleton" *ngIf="!data"
    style="height: 40px; margin-top: 2.8em !important; width: 100%; position: relative; left:-0.1%; top: 50% !important;">
    <div class="animated-background">
      <div class="skel-mask-container">
        <div class="skel-mask skel-mask-1"></div>
      </div>
    </div>
  </div>

  <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChanged(selectedTabIndex);">
    <mat-tab class="colr" (click)="storyTab(desc.title)" [label]="desc.title" *ngFor="let desc of data">
      <!-- <div class="example-small-box" malihu-scrollbar [scrollbarOptions]="scrollbarOptions"> -->
      <div class="example-small-box">

        <ng-container *ngIf="desc.items.length == 0">
          <div
            style="min-height: 170px; display: flex; justify-content: center; align-items: center; font-size: 14px; font-weight: 200;">
            No {{desc.title}} {{categ}} available</div>
        </ng-container>
        <div class="mat-style" *ngFor="let innerDesc of desc.items">

          <div style="flex: 1;">
            <p class="summary-txt">{{innerDesc.summary}}</p>
            <div class="chip-style">
              <span class="not-new">{{innerDesc.status | uppercase}}</span>
              <span class="new" *ngIf="innerDesc.isNewTask === true">NEW</span>
              <div class="avatar">
              <div class="avatar-parent-container" *ngIf="innerDesc.fName">
                  <div class="avatar-container-child" matTooltipClass="primary-tooltip" 
                      [matTooltip]="innerDesc.profileImageUrl ? innerDesc.fName.toUpperCase() + ' ' + innerDesc.lName.toUpperCase() : 'No Assignee'">

                      <img *ngIf="innerDesc.profileImageUrl"
                      src="{{innerDesc.profileImageUrl ? innerDesc.profileImageUrl : ''}}"
                      alt="">
                          <b *ngIf="innerDesc.profileImageUrl === null"
                          style="text-transform: uppercase !important;">
                          <span>{{innerDesc.fName.slice(0,1)}}</span>
                          <span>{{innerDesc.lName.slice(0,1)}}</span>
                      </b>
                  </div>
              </div>
              </div>
              <!-- <div class="avatar" [matTooltip]="innerDesc.assignee ? innerDesc.assignee.toUpperCase() : 'No Assignee'">
                <img *ngIf="innerDesc.profileImageUrl"
                  src="{{innerDesc.profileImageUrl ? innerDesc.profileImageUrl : ''}}"
                  alt="">
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="right" (click)="storiesBoard(data[0].title)">MORE</div>
</div>