<div class="login-wrapper">
    <!-- <div class="logo">
            <img src="../../assets/Group 7.svg" alt="">
        </div> -->
    <div class="bg">
        <div class="one">
            <div class="logo">
                <img class="logo-img" src="../../assets/logo-updated.svg" alt="logo">
                <div></div>
            </div>
            <img class="flag-signup" src="../../assets/flame-sign-up.png" alt="sign up">
        </div>
        <div class="two"></div>
    </div>
    <div class="login">
        <!-- {{passwordResetForm.value | json}} -->
        <form class="login-form" (ngSubmit)="updatePassword()" [formGroup]="passwordResetForm" style="margin: 2em;">
            <div class="login-text">
                <h2>Reset your Password</h2>
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput type="password" formControlName="password" placeholder="Password">
                </mat-form-field>
                <div style="align-content: left; text-align: left; margin-top: -15px;"
                    *ngIf="password.invalid && password.touched">
                    <small *ngIf="password.errors?.required" class="text-danger">Password is required</small>
                </div>
                <div style="align-content: left; text-align: left; margin-top: -15px;" *ngIf="
        passwordResetForm.touched && (
            (passwordResetForm.controls['password'].hasError(
            'minlength') 
            || 
            passwordResetForm.controls['password'].hasError('hasNumber')  
          || 
          passwordResetForm.controls['password'].hasError('hasCapitalCase')  
           ) )
">
                    <small style="text-align: left;" class="text-danger">Password should contain atleast minimum of 8
                        characters <br> along with atleast 1 lowercase, 1 uppercase and 1 numerics </small>
                </div>
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Repeat Password</mat-label>
                    <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password">
                </mat-form-field>
                <div style="align-content: left; text-align: left; margin-top: -15px;"
                    *ngIf="confirmPassword.invalid && confirmPassword.touched">
                    <small *ngIf="confirmPassword.errors?.required" class="text-danger">Repeat Password is
                        required</small>
                </div>

            </div>
            <div>
                <small class="text-danger">{{passMismatchText}}</small>
            </div>
            <button class="login-btn" type="submit" mat-raised-button>UPDATE
                PASSWORD</button>
        </form>
    </div>
</div>