.loader-overlay {
    background: #ffffff4a;
    height: 100% !important;
    position: absolute !important;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  